<script>
    const initialPrompt = "Who knows?" ;

    export let temperature = 1 ;
    export let top_p  = .8 ;
    export let logprob_nb = 0 ;
    export let completions_nb = 3 ;
    export let output_size = 100 ;
    export let isTemperature = false ;
    export let prompt = initialPrompt ;
    export let pendingOutputs = [] ;
    export let outputs = [] ;
    export let pending = false ;
    export let pw = window.localStorage.getItem('pw') || '' ;
    export let passwordSet = pw !== '' ;

    const user = content => ({type : 'user' , content}) ;
    const gpt = content => ({type : 'gpt' , content}) ;

    const getNext = async (prompt , n) => {
        const url = new URL('http://35.204.253.196:8888') ;
        const params = {
            n : n || completions_nb ,
            l : output_size ,
            logprobs : logprob_nb ,
            prompt ,
            pw ,
        } ;
        if (isTemperature)
            params.temp = temperature ;
        else
            params.p = top_p ;
        url.search = new URLSearchParams(params).toString() ;
        const response = await window.fetch(url) ;
        window.response = response ;
        const json = JSON.parse(await response.json()) ;
        const results = json.map(x => gpt(x.text)) ;
        window.json = json ;
        return results ;
    }

    const userMore = async () => {
        if (pending) return ;
        pending = true ;
        if (outputs.length && prompt[0] != " ") prompt = " " + prompt ;
        outputs = [...outputs , user(prompt)] ;
        prompt = "" ;
        const fullPrompt = outputs.map(x => x.content).join('') ;
        pendingOutputs = await getNext(fullPrompt) ;
        pending = false ;
    } ;

    const toggleTemperature = () => isTemperature = !isTemperature ;

    const pickOutput = i => () => {
        const pickedOutput = pendingOutputs[i] ;
        outputs = [...outputs , pickedOutput] ;
        pendingOutputs = [] ;
    } ;

    const reset = () => {
        if (outputs.length == 0 && pendingOutputs.length == 0)
            prompt = initialPrompt ;
        outputs = [] ;
        pendingOutputs = [] ;
    }

    const expandOutput = i => async () => {
        if (pending) return ;
        pending = true ;
        const pickedOutput = pendingOutputs[i] ;
        const fullPromptArray = [...outputs , pickedOutput].map(x => x.content) ;
        const fullPrompt = fullPromptArray.join('') ;
        const results = await getNext(fullPrompt , 1) ;
        const answer = results[0] ;
        const newPendingOutputs = pendingOutputs.slice() ;
        newPendingOutputs[i].content = pendingOutputs[i].content + answer.content ;        
        pendingOutputs = newPendingOutputs ;
        pending = false ;
    }


    const savePassword = () => {
        window.localStorage.setItem('pw' , pw) ;
        passwordSet = true ;
    } ;

//    const randLetter = () => String.fromCharCode('A'.charCodeAt(0) + ~~(Math.random() * 26)) ;


    console.log("Welcome to GPT's interface. You may contact gabriel.alfour+gpt-interface@gmail.com for queries.")
</script>

<div id="app">
    <h1>GPT-3</h1>
    <div class="params-input">
        <div class="params">
            <p>Params:</p>
            <button on:click={toggleTemperature}>Temperature / Top p</button>
            {#if isTemperature}
                <div class="temperature param">
                    <p>Temperature</p>
                    <input type="number" bind:value={temperature}>
                </div>
            {:else}
                <div class="top-p param">
                    <p>Top p</p>
                    <input type="number" bind:value={top_p}>
                </div>
            {/if}
            <div class="completions-nb param">
                <p># Completions</p>
                <input type="number" bind:value={completions_nb}>
            </div>
            <div class="output-size param">
                <p>Output Size</p>
                <input type="number" bind:value={output_size}>
            </div>
            {#if !passwordSet}
                <div class="password param">
                    <p>Password</p>
                    <input type="password" bind:value={pw}>
                </div>
                <button on:click={savePassword}>Save Password</button>
            {:else}
                <button on:click={() => passwordSet = false}>Change Password</button>
            {/if}
            <button on:click={userMore}>Submit Prompt</button>
            <button on:click={reset}>Reset</button>
        </div>
        <div class="input">
            <p>
                Prompt:
            </p>
            <textarea cols="60" rows="10" bind:value={prompt}></textarea>
        </div>
    </div>
    <br>
    <div class="outputs">
        {#each outputs as output}
            <span class="output" class:gpt={output.type == 'gpt'} class:user={output.type == 'user'}>
                { output.content }
            </span>
        {/each}
        ...
    </div>
    <br>
    {#if pending}
        <div class="pending">Pending...</div>
        <br>
    {/if}
    <div class="pending-outputs">
        {#each pendingOutputs as pendingOutput , i}
            <div class="pending-output">
                <p>{ pendingOutput.content }</p>
                <br>
                <button on:click={pickOutput(i)}>Pick</button>
                <button on:click={expandOutput(i)}>Expand</button>
            </div>
        {/each}
    </div>
</div>

<style>
    input[type="number"] {
        text-align : center ;
        width : 5em ;
    }

    #app {
        display : flex ;
        flex-direction : column ;
        align-items : center ;
        justify-items : center ;
        font-family : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
        width : 60% ;
        position : absolute;  left : 20% ;
    }

    .params-input {
        display : flex ;
        flex-direction : row ;
    }

    .input {
        display : flex ;
        flex-direction : column ;
        align-items : center ;
        justify-items : center ;
    }

    p {
        margin : 0 ;
    }

    .params {
        display : flex ;
        flex-direction : column ;
    }

    .param {
        display : flex ;
        flex-direction : row ;
        justify-content : space-between ;
        align-items : center ;
        width : 15em ;
    }

    .gpt {
        color : darkviolet ;
        font-family : 'Courier New', Courier, monospace ;
    }

    .user {
        color : darkblue ;
    }

    .outputs {
        border : 1px solid gray ;
        padding : 10px ;
        width : 50% ;
        white-space : pre-wrap ;
    }

    .pending-outputs {
        display : flex ;
        flex-direction : row ;
        gap : 10px ;
        flex-wrap : wrap ;
        width : 100% ;
    }

    .pending-output {
        border-radius : 5px ;        
        border : 1px solid gray ;
        width : 30% ;
        padding : 5px ;
        white-space : pre-wrap ;
    }
</style>